
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  
  
  
  
  div {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230411/pngtree-floral-light-purple-white-background-image_2362100.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
  
  /* Responsive H1 Styling */
  h1 {
    font-size:5.5rem;
    color: #3d043a;
    position: relative;
    font-weight: 800;
    padding-top: 350px;
    animation: mymove 5s infinite;
    animation-delay: 2s;
  }
  
  @keyframes mymove {
    from { left: 0px; }
    to { left: 500px; }
  }
  
  /* Responsive H3 Styling */
  h3 {
    font-size: 4rem;
    color: #952085;
    font-weight: 800;
    padding: 0px 0px 0px 300px;
    margin: auto;
    justify-content: center;
    text-align: center;
    animation: mymove2 3s infinite;
    animation-delay: 2s;
    position: absolute;
  }
  
  @keyframes mymove2 {
    from { right: 0px; }
    to { right: 300px; }
  }
  
  /* Media Query for Smaller Screens */
  @media only screen and (max-width: 600px){
    h1 {
      font-size: 3rem;
      padding-top: 350px;
      animation: mymove 6s infinite;
      animation-delay: 2s;
    }
    @keyframes mymove {
      from { left: 0px; }
      to { left: 90px; }
    }
    
  
    h3 {
      font-size:1rem;
      font-weight: 800;
      padding-left: 150px;
      color: #952085;
      animation: mymove2 5s infinite;
      animation-delay: 2s;
    }
    @keyframes mymove2 {
      from { right: 0px; }
      to { right: 80px; }
    }
    
  }
